:root {
    --dark-green: #013220;
    --mid-green: #004225;
    --bright-green: #00FF41;
    --black: #000000;
}

body {
    background-color: var(--dark-green);
    background-image: url("Sprite-0002.png");
    font-family: 'minecraft', sans-serif;
    color: var(--bright-green);
    margin: 0;
    padding: 1em;
    image-rendering: pixelated;
    text-align: center;
}

@font-face {
    font-family: 'minecraft';
    src: url('Minecraft.ttf') format('truetype');
}

a {
    color: var(--bright-green);
    text-decoration: none;
}

.play-gif {
    width: 150px;
    height: 150px;
    image-rendering: pixelated;
    border: 4px solid var(--black);
    background: var(--mid-green);
    margin-bottom: 2rem;
}

#cont {
    background-color: var(--mid-green);
    padding: 20px;
    border: 4px solid var(--black);
    box-shadow: 8px 8px 0 var(--black);
    margin: 20px auto;
    max-width: 800px;
    box-sizing: border-box;
    text-align: center;
}

#cont .team-list-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

#cont .team-list div {
    margin-bottom: 5px;
    padding: 5px;
}

.info-section {
    max-width: 580px;
    margin: 20px auto;
    border: 4px solid var(--black);
    box-shadow: 8px 8px 0 var(--black);
    background-color: var(--mid-green);
    text-align: left;
}

.info-title {
    display: block;
    padding: 10px;
    border-bottom: 4px solid var(--black);
    font-size: 1.2em;
}

.info-content {
    padding: 10px;
}

.video-section {
    max-width: 580px;
    margin: 20px auto;
    border: 4px solid var(--black);
    box-shadow: 8px 8px 0 var(--black);
    text-align: left;
    background-color: var(--mid-green);
}

.video-title {
    display: block;
    padding: 10px;
    border-bottom: 4px solid var(--black);
}

.video-container {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
}

.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.footer {
    margin-top: 20px;
}

.footer-text {
    padding: 10px;
    background: var(--mid-green);
    border: 4px solid black;
    box-shadow: 4px 4px 0 black;
    display: inline-block;
}

/* Responsive Design */
@media (max-width: 600px) {
    body {
        padding: 0.5em;
    }

    #cont {
        padding: 15px;
        margin: 10px auto;
        box-shadow: 4px 4px 0 var(--black);
    }

    .video-section, .info-section {
        margin: 10px auto;
        box-shadow: 4px 4px 0 var(--black);
    }

    .info-title {
        font-size: 1em;
    }

    .play-gif {
        width: 100px;
        height: 100px;
    }

    .video-title {
        font-size: 0.9em;
    }
}